.btn {
  padding: 10px 40px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  width: 100%;
}

.btn-primary {
  background-color: #393939;
  color: #fff;
}

.btn-secondary {
  background-color: #b4b4b4;
  color: #000000;
}

.btn-alert {
  background-color: #f44336;
  color: #fff;
}
